/**
 * GLOBAL
 * -----------------------------------------------------------------------------
 */
* {
    box-sizing: border-box;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
}
html {
    font-size: 16px;
}
body {
    background: #26A65B; 
    color: #41464c;
    font-family: 'quicksand', sans-serif;
    font-size: 100%;
    font-weight: normal;
    height: 100%;
    letter-spacing: -1px;
    line-height: 1.4;
    overflow-x: hidden;
    width: 100%;
    /**/
    -webkit-font-smoothing: antialiased;
}

/**
 * TEXT SELECT
 * -----------------------------------------------------------------------------
 */
::-moz-selection {
    background: #56c3da;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #56c3da;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {
    background: #56c3da;
    color: #fff;
    text-shadow: none;
}

/**
 * CLEARFIX
 * -----------------------------------------------------------------------------
 */
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

/**
 * NAVBAR
 * -----------------------------------------------------------------------------
 */
.custom-navbar .navbar-toggle {
    float: left;
    margin-left: 15px;
    margin-right: 0;
}
.custom-navbar .navbar-brand img {
    display: inline-block;
    margin: 0 5px 0 0;
    width: 20px;
}