<form id="CreateProjectForm" class="form-horizontal">

    <div class="form-group" id="message">
        <div class="col-sm-6 col-sm-offset-4 ">
            <div class="col-sm-12 alert hide"></div>
        </div>
    </div>
	
	<div class="row">
	    <div class="col-sm-12">
	    	<div class="form-group">
		        <label for="name" class="col-sm-2 control-label">Nom du projet</label>
		        <div class="col-sm-8">
		             <div class="input-group col-sm-12">
		                <input type="text" class="form-control" name="name" id="name">
		            </div>
		        </div>
	    	</div>
	    </div>

	    <div class="col-sm-6">
	    	<div class="form-group">
		        <label for="firstname" class="col-sm-4 control-label">Prénom du client</label>
		        <div class="col-sm-8">
		             <div class="input-group col-sm-12">
		                <input type="text" class="form-control" name="firstname" id="firstname">
		            </div>
		        </div>
	    	</div>
	    </div>

	    <div class="col-sm-6">
	    	<div class="form-group">
		        <label for="lastname" class="col-sm-4 control-label">Nom du client</label>
		        <div class="col-sm-8">
		             <div class="input-group col-sm-12">
		                <input type="text" class="form-control" name="lastname" id="lastname">
		            </div>
		        </div>
	    	</div>
	    </div>

	    <div class="col-sm-12">
	    	<div class="form-group">
		        <label for="email" class="col-sm-2 control-label">Email du client</label>
		        <div class="col-sm-8">
		             <div class="input-group col-sm-12">
		                <input type="email" class="form-control" name="email" id="email">
		            </div>
		        </div>
	    	</div>
	    </div>

	    <div class="col-sm-12">
	    	<div class="form-group">
		        <label for="adr_street" class="col-sm-2 control-label">Adresse</label>
		        <div class="col-sm-8">
		             <div class="input-group col-sm-12">
		                <input type="text" class="form-control" name="adr_street" id="adr_street">
		            </div>
		        </div>
	    	</div>
	    </div>

	    <div class="col-sm-6">
	    	<div class="form-group">
		        <label for="adr_zipcode" class="col-sm-4 control-label">Code postal</label>
		        <div class="col-sm-8">
		             <div class="input-group col-sm-12">
		                <input type="number" class="form-control" name="adr_zipcode" id="adr_zipcode">
		            </div>
		        </div>
	    	</div>
	    </div>

	    <div class="col-sm-6">
	    	<div class="form-group">
		        <label for="adr_city" class="col-sm-4 control-label">Ville</label>
		        <div class="col-sm-8">
		             <div class="input-group col-sm-12">
		                <input type="text" class="form-control" name="adr_city" id="adr_city">
		            </div>
		        </div>
	    	</div>
	    </div>

		<div class="col-sm-4 col-sm-offset-4">
			<div class="form-group">
				<button type="submit" id="saveProject" class="btn btn-primary center-block">Enregistrer</button>
			</div>
		</div>
	</div>

</form>