<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4 text-center">
					<button type="button" class="btn btn-success btn-lg btn-lg-max"><i class="fa fa-plus-circle"></i> Créer un devis</button>
				</div>
			</div>
		</div>
	</div>
</div>