<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4 text-center">
					<button type="button" id="create_project" class="btn btn-success btn-custom-light btn-lg btn-lg-max"><i class="fa fa-plus-circle"></i> Créer un devis</button>
				</div>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="row">
				<div class="spacing-lg"></div>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">
					<form id="searchForm">
						<div class="input-group input-group-lg">
							<input type="text" class="form-control input-lg" id="search-devis" placeholder="Rechercher un devis">
							<span class="input-group-btn">
								<button class="btn btn-default btn-lg btn-custom-dark" type="submit"><i class="fa fa-search"></i></button>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-6 col-xs-offset-3">
					<div class="list-group">
						<a href="#" class="list-group-item active text-center">Mes derniers devis</a>
						<a href="#" class="list-group-item"><span class="badge">En cours</span> Devis n°7 : Maison M.PATE</a>
						<a href="#" class="list-group-item"><span class="badge">Accepté</span> Devis n°6 : Lotissement Agence ECHO</a>
						<a href="#" class="list-group-item"><span class="badge">Brouillon</span> Devis n°5 : Cabane Mme ROGER</a>
						<a href="#" class="list-group-item"><span class="badge">Refusé</span> Devis n°4 : Maison double M.ETROPI</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>